/* Base CSS and style blocks */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.centerCont {
  width: 80%;
  margin: 0 auto;
}

.rounded-box {
  border-radius: 10px;
}

/* CSS Blocks for width */
.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

/* CSS Blocks for font size */
.title30px {
  font-size: 30px;
  letter-spacing: -1.5px
}

.descr15px {
  font-size: 15px;
}

/* Overlay for text legibility */
.overlay {
  background-color: rgba(0,0,0,.35);
  height: 100%;
  border-radius: 10px;
}

/* Float clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/*Header*/

/*Logo*/
#logo {
  width: 170px;
}

.logo-container {
  border-right: 1px solid #e5e5e5;
  width: 190px;
}

 /*Navigation menù*/
#nav-menu {
  margin: 30px 0;
}

#nav-menu li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

#nav-menu li:first-child {
  margin-left: 0;
}

#nav-menu li:last-child {
  margin-right: 0;
}

#nav-menu a {
  display: block;
  color: #858585;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-menu a:hover {
  color: #000;
}


/* Main */

main > section {
margin: 30px 0 30px;
}

 /* Jumbotron */
.section-jumbotron {
  height: 500px;
  position: relative;
  background: url("../img/banner.jpg");
  background-position: center;
}

.jumbotron-text-container {
  width: 60%;
  position: absolute;
  bottom: 80px;
  left: 40px;
  color: #fff;
}

.jumbotron-text-container > .title30px {
  font-weight: normal;
}

.section-jumbotron:hover .overlay {
  background-color: rgba(0,0,0,.3);
}

/* Section with columns */

#mainTitle {
  font-weight: 800;
  font-size: 40px;
}

.section-content .descr15px {
  color: #858585;
}

.column {
  margin: 20px 0 20px 0;
  float: left;
}

.section-content .column.w50 {
  margin: 20px;
  width: calc(50% - 40px);
}

.top-column {
  height: 260px;
}

.top-column .overlay {
  background-color: rgba(0,0,0,.2);
}

.img1 {
  background-image: url("../img/img-1.jpg");
  background-size: cover;
}

.banner2 {
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center;
}

.img3 {
  background-image: url("../img/img-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20% 70px;
}

.bottom-column > *{
  margin: 10px 0;
}


/* Footer */
footer {
  text-align: center;
  padding: 30px 0;
}

.heart {
  color: #e21d1d;
}
