/* Base CSS*/
.w70 {
  width: 70%;
}

body {
  overflow-x: hidden;
}


/* Main */
.image-box {
  width: 260px;
  height: 260px;
}

.image-box .overlay {
  background-color: rgba(0,0,0,.2);
}

/* Images for boxes */
.image-box.img1 {
  margin-right: 20px;
  float: left;
}

.image-box.img2 {
  margin-left: 20px;
  float: right;
}

.img1 {
  background-image: url("../../img/img-5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  background-image: url("../../img/img-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Paragraph */

.paragraph {
  color: #858585;
}

.first-letter-float {
  color: #000;
  font-weight: 500;
  float: left;
  font-size: 100px;
  line-height: 1;
  padding: 0 15px 0;
}

.test  {
  position: relative;
  width: 100vw;
  height: 200px;
  background-color: red;
  left: 50%;
  margin-left: -50vw;
  overflow-x: hidden;
}
